#foto{
    display: flex;
    justify-content: center;
}

#foto img{
    width: 95%;
}

#mision-vision {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 2rem;
}

#mision, #vision {
    margin: 3rem auto;
    width: 95%;
    background: #cdf94f;
    padding: 1rem 3rem;
    box-sizing: border-box;
    font-size: 1.1rem;
}